services:
  index:
    extends:
      file: docker-compose.yml
      service: index

  app:
    extends:
      file: docker-compose.yml
      service: app
    environment:
      YENTE_MANIFEST: "manifests/civic.yml"

volumes:
  index-os-data: null
