services:
  index:
    image: opensearchproject/opensearch:2.15.0
    expose:
      - "9200"
    ports:
      - "127.0.0.1:9200:9200"
    container_name: index
    environment:
      - node.name=index
      - cluster.name=opensanctions-index
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - plugins.security.disabled=true
      - "ES_JAVA_OPTS=-Xms1g -Xmx1g"
      - "OPENSEARCH_INITIAL_ADMIN_PASSWORD=YenteIns3cureDefault"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - opensearch-data:/usr/share/opensearch/data
    deploy:
      placement:
        max_replicas_per_node: 1
      restart_policy:
        condition: on-failure

  app:
    image: ghcr.io/opensanctions/yente:5.1.0
    depends_on:
      - index
    ports:
      - "127.0.0.1:8000:8000"
    environment:
      YENTE_INDEX_TYPE: "opensearch"
      YENTE_INDEX_URL: http://index:9200
      YENTE_MANIFEST: /app/manifests/commercial.yml
      # Get your delivery token from the customer portal: https://www.opensanctions.org/account/
      OPENSANCTIONS_DELIVERY_TOKEN: "your-secret-token"
    # If you want to index data from the host machine as a custom dataset,
    # create a volume mount here to make that data accessible from the
    # container:
    # volumes:
    #   - "/path/on/the/host/computer:/data"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8000/healthz" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 3s
    deploy:
      mode: replicated
      # Run multiple instances for better scale:
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 10s
        max_attempts: 3
        window: 120s

volumes:
  opensearch-data: null
