services:
  index:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.14.3
    expose:
      - "9200"
    ports:
      - "127.0.0.1:9200:9200"
    container_name: index
    environment:
      - node.name=index
      - cluster.name=opensanctions-index
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms2g -Xmx2g"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - index-os-data:/usr/share/elasticsearch/data
    healthcheck:
      # curl --fail exits with an exit code >0 if anything about the request fails
      test: ["CMD-SHELL", "curl --fail http://localhost:9200/_cluster/health || exit 1"]
    deploy:
      placement:
        max_replicas_per_node: 1
      restart_policy:
        condition: on-failure

  app:
    image: ghcr.io/opensanctions/yente:5.1.0
    depends_on:
      index:
        condition: service_healthy
    ports:
      - "127.0.0.1:8000:8000"
    environment:
      YENTE_INDEX_TYPE: "elasticsearch"
      YENTE_INDEX_URL: http://index:9200
      YENTE_MANIFEST: /app/manifests/commercial.yml
      # Get your delivery token from the customer portal: https://www.opensanctions.org/account/
      OPENSANCTIONS_DELIVERY_TOKEN: "your-secret-token"
    # If you want to index data from the host machine as a custom dataset,
    # create a volume mount here to make that data accessible from the
    # container:
    # volumes:
    #   - "/path/on/the/host/computer:/data"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8000/healthz" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 3s
    deploy:
      mode: replicated
      # Run multiple instances for better scale:
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 10s
        max_attempts: 3
        window: 120s

volumes:
  index-os-data: null
