[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "yente"
version = "4.2.1"
description = "A simple and fast API service for querying FollowTheMoney data, including OpenSanctions."
authors = [{ name = "OpenSanctions", email = "info@opensanctions.org" }]
license = { file = "LICENSE" }
readme = "README.md"
dependencies = [
    "elasticsearch[async] == 8.17.1",
    "opensearch-py[async] == 2.8.0",
    "uvicorn[standard] == 0.34.0",
    "httpx[http2] == 0.28.1",
    "aiohttp[speedups] == 3.11.12",
    "boto3 ~= 1.36.2",
    "fastapi == 0.115.8",
    "python-multipart == 0.0.20",
    "email-validator == 2.2.0",
    "structlog == 25.1.0",
    "pyicu == 2.14",
    "jellyfish == 1.1.3",
    "anyio == 4.8.0",
    "orjson == 3.10.15",
    "text-unidecode == 1.3",
    "click ~=8.1.8",
    "normality == 2.6.1",
    "countrynames == 1.16.6",
    "fingerprints == 1.2.3",
    "pantomime == 0.6.1",
    "cryptography == 44.0.1",
    "followthemoney == 3.8.0",
    "nomenklatura == 3.15.2",
    "rigour == 0.8.4",
    "asyncstdlib == 3.13.1",
    "aiocron == 2.1",
    "aiocsv == 1.3.2",
    "aiofiles == 24.1.0",
]
# packages = [{ include = "yente", from = "." }]
requires-python = ">=3.11,<=3.13"

[project.urls]
Documentation = "https://www.opensanctions.org/docs/yente/"
Repository = "https://github.com/opensanctions/yente.git"
Issues = "https://github.com/opensanctions/yente/issues"

[project.scripts]
yente = "yente.cli:cli"


[project.optional-dependencies]
dev = [
    "ruff >=0.8.4,<1.0.0",
    "build",
    "mypy ~=1.13",
    "pytest == 8.3.4",
    "pytest-cov >= 6.0.0, < 7.0.0",
    "pytest-asyncio >= 0.25.0, < 1.0.0",
    "pytest-httpx == 0.35.0, < 1.0.0",
    "flake8 >= 2.6.0",
    "black >= 24.10,< 26.0",
    "types-aiofiles >=24.0,<25.0",
    "boto3-stubs ~= 1.36.2",
    "bump2version == 1.0.1",
    "pip >10.0.0",
]

[tool.hatch.build.targets.sdist]
only-include = ["yente", "LICENSE", "README.md"]

[tool.pytest.ini_options]
filterwarnings = ["ignore:Elasticsearch built-in security:"]
asyncio_mode = "strict"
# asyncio_default_fixture_loop_scope=session
log_cli = true
