followthemoney==2.9.7
nomenklatura==2.4.7
asyncstdlib==3.10.5
aiocron==1.8
aiocsv==1.2.2
aiofiles==0.8.0
types-aiofiles==0.8.8
aiohttp[speedups]==3.8.1
elasticsearch[async]==8.2.3
fastapi==0.78.0
uvicorn[standard]==0.18.1
python-multipart==0.0.5
email-validator==1.2.1
structlog==21.5.0
pyicu==2.9
tzdata==2022.1
text-unidecode==1.3

normality==2.3.3
languagecodes==1.1.1
countrynames==1.13.0
fingerprints==1.0.3
pantomime==0.5.1