name: build

on: [push]

permissions:
  packages: write

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      index:
        image: docker.elastic.co/elasticsearch/elasticsearch:7.15.2
        env:
          node.name: index
          cluster.name: yente-index
          discovery.type: single-node
        ports:
          - 9200:9200

    env:
      YENTE_INDEX_URL: "http://index:9200/"

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.9"
          cache: "pip"
      - name: Install dependencies
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          sudo apt-get install -y -qq libicu-dev
          pip install -q pyicu
          pip install -q -r requirements.txt
          pip install -q -e ".[dev]"
          pip freeze
      - name: Run pytest
        run: |
          pytest -v

  build:
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      - uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ghcr.io/opensanctions/yente
          tags: |
            type=ref,event=branch
            type=semver,pattern={{version}}
            type=sha
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          install: true
      - name: Debug information
        run: |
          docker --version
          docker-compose --version
          echo "${GITHUB_REF}"
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push release
        uses: docker/build-push-action@v3
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=registry,ref=ghcr.io/opensanctions/yente:buildcache
          cache-to: type=registry,ref=ghcr.io/opensanctions/yente:buildcache,mode=max
