name: build

on: [push]

permissions:
  packages: write

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      index:
        image: docker.elastic.co/elasticsearch/elasticsearch:8.3.2
        env:
          node.name: index
          cluster.name: yente-index
          discovery.type: single-node
          xpack.security.enabled: "false"
          xpack.security.http.ssl.enabled: "false"
          xpack.security.transport.ssl.enabled: "false"
        ports:
          - 9200:9200

    env:
      YENTE_INDEX_URL: "http://index:9200/"

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: "pip"
      - name: Install dependencies
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          sudo apt-get install -y -qq libicu-dev
          pip install -q pyicu
          pip install -q -r requirements.txt
          pip install -q -e ".[dev]"
          pip freeze
      - name: Run mypy strict type check
        run: |
          mypy --strict yente
      - name: Run pytest
        run: |
          pytest -v tests/unit
      # - name: Build a distribution
      #   run: |
      #     python setup.py sdist bdist_wheel
      # - name: Publish a Python distribution to PyPI
      #   if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
      #   uses: pypa/gh-action-pypi-publish@master
      #   with:
      #     user: __token__
      #     password: ${{ secrets.pypi_password }}
      #     skip_existing: true

  build:
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      - uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ghcr.io/opensanctions/yente
          tags: |
            type=ref,event=branch
            type=semver,pattern={{version}}
            type=sha
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          install: true
      - name: Debug information
        run: |
          docker --version
          docker-compose --version
          echo "${GITHUB_REF}"
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push release
        uses: docker/build-push-action@v3
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
